-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
     %thead
    %tr
      - @table_keys.each do |key|
        %th{:class => is_hilite(key)}
          = link_to movies_path(@new_params.merge({:sort => key, :order => reverse_order(key)})) do
            = @table_descriptions[key]
            %span{:class => order_symbol(key)}
      %th More Info
      
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
